<section data-ng-controller="StoriesController">
    <div class="page-header">
        <h1>New Story</h1>
    </div>
    <h4> Great News! Your're about to embark on your very own choose your own adventure. Once it's done, we'll post it to our site, and you'll get a copy in your email inbox over at {{authentication.user.email}}</h4>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div ng-show="counter==0">
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Create a title for your story" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firstName">What's your Name?</label>
                    <div class="controls">
                        <input type="text" data-ng-model="firstName" id="firstName" class="form-control" placeholder="It's probably {{authentication.user.displayName}}, but you can make this about anyone you want" value="{{authentication.user.displayName}}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Dog">Dog</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dog" id="dog" class="form-control" placeholder="Pick a dog's name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="SuperHero">SuperHero</label>
                    <div class="controls">
                        <input type="text" data-ng-model="superHero" id="superHero" class="form-control" placeholder="SuperHero" required>
                    </div>
                </div>

             </div>
             <div ng-show="counter==1">
                 <div class="form-group">
                     <label class="control-label" for="continent">pick a continent</label>
                    <div class="controls">
                 <div class="radio">
                 <label>
                 <input type="radio" data-ng-model="continent" name="optionsRadios" id="optionsRadios1" value="North America" >
                 North America
                 </label>
                 <label>
                 <input type="radio" name="optionsRadios" data-ng-model="continent"  id="optionsRadios1" value="Asia" >
                 Asia
                 </label>
                 <label>
                 <input type="radio" name="optionsRadios" data-ng-model="continent"  id="optionsRadios1" value="South America" >
                 South America
                 </label>
                 <label>
                 <input type="radio" name="Australia"  data-ng-model="continent"  id="Australia" value="Australia">
                 Australia
                 </label>
                 <label>
                 <input type="radio" name="optionsRadios"  data-ng-model="continent"  id="optionsRadios1" value="Europe" >
                 Europe
                 </label>
                 <label>
                 <input type="radio" name="optionsRadios" data-ng-model="continent"  id="optionsRadios1" value="Africa" >
                 Africa
                 </label>

                 <label>
                 <input type="radio" name="optionsRadios" data-ng-model="continent"  id="optionsRadios1" value="Antarctica" >
                 Antarctica
                 </label>
                 </div>
            </div>
            <div ng-show="counter==2">

                <div class="form-group">
                    <label class="control-label" for="Dog">Dog</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dog" id="dog" class="form-control" placeholder="Pick a dog's name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="Dog">Dog</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dog" id="dog" class="form-control" placeholder="Pick a dog's name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="Dog">Dog</label>
                    <div class="controls">
                        <input type="text" data-ng-model="dog" id="dog" class="form-control" placeholder="Pick a dog's name" required>
                    </div>
                </div>


            </div>

        </div>

             </div>
                <button ng-show="counter >0"ng-click="counterDown()">Prev</button>
                <button ng-show="counter <2" ng-click="counterUp()">Next</button>
                <button ng-show="counter >1" ng-click="counterUp()">Submit</button>

              
               <!--  <div class="form-group" ng-show="counter==2">
                    <input type="submit" class="btn btn-default">
                </div> -->
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>