<section data-ng-controller="StoriesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="story.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == story.user._id">
		<a class="btn btn-primary" href="/#!/stories/{{story._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="story.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="story.user.displayName"></span>
		</em>
	</small>
	<p> So there you are, yeah you, <span data-ng-bind="story.firstName"></span>. Just minding your business, walking that awesome pooch of yours, <span data-ng-bind="story.dog"></span>. It's a lovely day and you are spending it taking in the scenery at the hike and bike trail by the river. All of the sudden, you hear a loud bang, and all hell starts to break loose. You hear another loud boom, and then...it all goes black</p>

	<p ng-show="story.continent=='Australia'">
	You come to after feeling a strange liquid falling on your cheek. In your groggy state, you look up and see...no it can't be. A kangaroo? Where the heck are you? You look around and see a sign off in the distance. It says "Sydney 1000km." You haven't woken up in a place this strange since college. You turn to your right, and you see the biggest spider you've ever seen. Just as it's about to sink its fangs into you, <span data-ng-bind="story.superHero"></span> yanks you out of the way. What the heck is going on here?
	</p>

	<p ng-show="story.continent=='North America'">
	You come to after hearing a crowd of people chanting "Let's go Cowboys!". You realize that you're on the 50 yard line of thier stadium, and a massive group of football players are running towards you at a high rate of speed. Just before your're about to be obliterated, <span data-ng-bind="story.superHero"></span> yanks you out of the way. "You need to be more careful," <span data-ng-bind="story.superHero"></span> says.
	</p>

	<p ng-show="story.continent=='South America'">
	You come to after feeling a strange liquid falling on your cheek. In your groggy state, you look up and see...no it can't be. A Giant Sloth? And he's drooling on you? Where the heck are you? You look around and see a sign off in the distance. It says "Sao Paulo 1000km." You haven't woken up in a place this strange since college. All of the sudden, a team of loggers come through the brush in their heavy machinery, hellbent on destroying everything they can. Just when their giant chainsawmobile is about to gobble you up, <span data-ng-bind="story.superHero"></span> comes to the rescue, pulling you to safety. 
	</p>

	<p ng-show="story.continent=='Europe'">
	You come to after feeling a strange liquid falling on your cheek. In your groggy state, you look up and see...a leaky barrel of wine. You stand up and walk out the nearest door, and you're suddenly on the streets of Paris! This is way better than when you blacked out a second ago. You walk over to a cafe and order some coffee. You reach into your wallet for some cash and come up empty. Dang. But what's this? <span data-ng-bind="story.superHero"> taps on your shoulder, and says he's got you covered. That's kinda weird, but you decide to roll with it. 
	</p>

	<p ng-show="story.continent=='Africa'">
	You come to after feeling a strange liquid falling on your cheek. In your groggy state, you look up and see...a pack of lions drooling over thier next meal. "I wonder what I taste like," you think, before realizing that you're about to be ancient history. You try to slowly get up, not wanting to attract any more attention from those scary dudes. It doesn't work, and they start to pounce. Just when you think you've taken your last breath, <span data-ng-bind="story.superHero"> comes in and saves the day! What the heck is he doing in Africa? Oh well. You're alive!
	</p>

	<p ng-show="story.continent=='Asia'">
	You come to after feeling a strange liquid falling on your cheek. In your groggy state, you look up and see...Uh oh. This is bad. It's Godzilla! And he doesn't look happy. Wait a second...did Godzilla just drool on you? That's gross. You see his massive feet about to make you a human pancake, when all of the sudden, a monster sized version of <span data-ng-bind="story.superHero"> punches Godzilla in the face! This is kinda weird, you think. 
	</p>


	<p>It's at this point that you realize something isn't right. Yep. Those colege psych classes taught you enough to realize that you're just having a weird dream. Upon this realization, you wake up safe and sound in your bed. That loud boom you heard? Yeah, that's your neighbor playing Call of Duty. That vision of waking up in <span data-ng-bind="story.continent"></span>? You've got a business trip coming up. Probably just nerves. <span data-ng-bind="story.superHero"></span>? You were reading that comic before bed. And <span data-ng-bind="story.dog"></span>? He's sleeping peacefully at your feet. You realize it's Monday morning and the weekend is over. That's the real nightmare.</p>


</section>

