<section data-ng-controller="StoriesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="story.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == story.user._id">
		<a class="btn btn-primary" href="/#!/stories/{{story._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="story.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="story.user.displayName"></span>
		</em>
	</small>
	<p> So there you were, yeah you, <span data-ng-bind="story.firstName"></span>. Just minding your business, walking that awesome pooch of yours, <span data-ng-bind="story.dog"></span>. It was a lovely day and you were spending it taking in the scenery at the hike and bike trail by the river. All of the sudden, you heard a loud bang, and all hell started to break loose. You hear another loud boom, and then...it all goes black</p>

	<p ng-show="story.continent=='Australia'">
	You come to after feeling a strange liquid falling on your cheek. In your groggy state, you look up and see...no it can't be. A kangaroo? Where the heck are you? You look around and see a sign off in the distance. It says "Sydney 1000km." You haven't woken up in a place this strange since college.
	</p>
</section>

